#wallpaper {
    width: 100%;
    border-radius: 2px;
    box-shadow: 3px 3px;
    width: 100vw;
    height: auto;}

#pfp {
    width: 20%;
    display: block;
    margin: 0 auto;
    border: 2px;
    border-radius: 25px;
    box-shadow: 3px 3px;
    position: absolute;
    top: 50px;
    left: calc(50% - 50px);
    bottom: calc(50%-50px);
}

#text {
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 5px;
    font-size: large;
}
  
body {
    background-color: #000;
    color: #fff;
}

.my-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-control {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
}

.btn {
    background-color: #000;
    border-color: #fff;
    color: #fff;
}

.btn:hover {
    background-color: #333;
    border-color: #fff;
    color: #fff;
}

.btn:active {
    background-color: #333;
    transform: translateY(2px);
}

.fa {
    color: #fff;
    margin: 1.5px;
}

.fa:hover {
    color: #333;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#icons {
    justify-content: space-between;
}